@model  mortageAggregator.UI.Models.AvailableMortageRequest

@section Scripts{

    <script src="~/js/mortgageAggregator.Aggregator.js"></script>

    <script>
        mortgageAggregator.Aggregator.init();
    </script>
 } 

<p id="error-message" class="text-danger" style="display:none;">Opps something has gone wrong</p>
<form id ="mortgage-requirements" asp-controller="MortgageRequirements" asp-action="Get" method="post">
        <input type="hidden" asp-for="UserId">
    <div class="form-group">
        <label asp-for="DepositAmount">Deposit Amount</label>
        <input asp-for="DepositAmount" class="form-control" placeholder="Deposit Amount">
        <span asp-validation-for="DepositAmount" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PropertyValue">Property Value</label>
        <input asp-for="PropertyValue" class="form-control">
        <span asp-validation-for="PropertyValue" class="text-danger"></span>
    </div>
    <button id="submit-button" type="submit" class="btn btn-primary">Submit</button>
</form>

<table id="mortgage-table">

</table>